*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #fff;
}

#controls {
  display: flex;
  width: 486px;
  padding: 32px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
}

input {
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #808080;
}

button {
  display: flex;
  width: 120px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  transition: background-color 0.025s;
}

button[data-create] {
  background-color: #007bff;
}

button[data-destroy] {
  background-color: #ff3b3b;
}

button[data-create]:hover {
  background: #6c8cff;
}

button[data-destroy]:hover {
  background: #ff7070;
}

#boxes {
  display: flex;
  width: auto;
  padding: 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #f6f6fe;
}
